[Unit]
Description=API Gateway Service Application
After=network.target

[Service]
Environment="QUOTES_API=http://35.209.150.251"
User=nickthegamer9
WorkingDirectory=/home/nickthegamer9/simple-microservice-example/ApiGateway/
ExecStart=npm run start
Restart=always

[Install]
WantedBy=multi-user.target
